 <div id="title" style="text-align: center">
        Go Badges
    </div>
    <div id="article-main">
        <div class="publisherLogin">
            <input type="text" class="emailInput" placeholder="Enter Email"/>
            <input type="text" class="passwordInput" placeholder="Enter Password"/>
            <button class="emailSubmit">Go For Badges</button>
        </div>
        <div id="badgeContent"></div>
    </div>