<nav id="nav">

</nav>
<div id="header-strip"style="
    background-color: aquamarine;
    width: 94.5%;
    display: block;
    overflow: hidden;
    padding-right: 5.5%;
">
<div id="about" style="background-color: red;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="archives" style="background-color: yellow;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="features"style="background-color: pink;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="home"style="background-color: blue;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>