body{
    margin : 0px;
    padding: 0px;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
}
#footerDiv{
    background-color: rgba(153,50,204,0.9);
    width: 100%;
    line-height: 900%;
    overflow: hidden;
    display:block;
}

#footerDiv div{
    padding: 17% 14% 3%;
    display: inline;
    color:white;

}
#left-pane{
    float:left;
    width: 15%;
    display: inline;
}
#right-pane{
    float:right;
    width: 15%;
    display: inline;
}
#article{
    display: inline;
    float: left;
    width: 100%;

}
#main-content{
    display: block;
}
.publisherLogin{
    margin-left: 40%;
    margin-top: 4%;
}
.emailInput,.emailSubmit,.passwordinput{
    display: block;
}
.emailInput,.passwordInput{
    margin-bottom: 1%;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ffa853;
    color: #666;
    outline: none;
    height:23px;
    width: 275px;
    padding-left: 5%;
}

.passwordInput{
    display: none;s
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAA6klEQVQY02NggAAeAWYGNCAbX1qaZ82EIiZXlGVpFFXqjSKYlMfHwMAYWCqLJCZY6gqixEsdkAQlSk1AFBuKfrigD0KMK7y0KB8ESnNU4YLepZFBYBCcU8gJE0xOBBKsPEDCCGF/ciwDA3NaiQoDo3WpETOSIFtRqZFQXKpffIYsQpDBo5Qv3Uwq2Fg1Vwgh6FZqGcgQwhPEa+uBEHQuCtBl4FSKZZVMhPg8jZGBgV3Yy4iBIUiAQTYOLOhQmhYLBJmxjAxqTAxe9mBBZoekZBDI9uXS4LZL50QJQDb3wrTCED70CGAV4gDTAA/CMjM2mn8OAAAAAElFTkSuQmCC) no-repeat 10px 4px #FFF;
}
.emailInput{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABClpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wUmlnaHRzPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvcmlnaHRzLyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wUmlnaHRzOk1hcmtlZD0iVHJ1ZSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzI3NTdDRTExNUFCMTFFMUE5NURCRkMwMEFDNjhEQUMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzI3NTdDRTIxNUFCMTFFMUE5NURCRkMwMEFDNjhEQUMiPiA8ZGM6cmlnaHRzPiA8cmRmOkFsdD4gPHJkZjpsaSB4bWw6bGFuZz0ieC1kZWZhdWx0Ij5DcmVhdGl2ZSBDb21tb25zIEF0dHJpYnV0aW9uIE5vbi1Db21tZXJjaWFsIE5vIERlcml2YXRpdmVzPC9yZGY6bGk+IDwvcmRmOkFsdD4gPC9kYzpyaWdodHM+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjcyNzU3Q0RGMTVBQjExRTFBOTVEQkZDMDBBQzY4REFDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjcyNzU3Q0UwMTVBQjExRTFBOTVEQkZDMDBBQzY4REFDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+SoKR9AAAAH5JREFUeNpi/P//PwMlgImBQsDS39/fAKTrydTfyESBZhCoR/bCAig9AYgZceAFaGpRwiARKlEAxPOx2AYSS4CqSYSHAZoimEQCGh+rZmwGYDOEAZdmXAZgMwSrZnwGMKBpSMSZDghEUyLtUyIS+z+5eaGRAgc0Mg54bgQIMAAD7RsCMDpK7QAAAABJRU5ErkJggg==) no-repeat 10px 4px #FFF;
}

.emailSubmit {
    background: #34d939;
    background-image: -webkit-linear-gradient(top, #34d939, #2bb834);
    background-image: -moz-linear-gradient(top, #34d939, #2bb834);
    background-image: -ms-linear-gradient(top, #34d939, #2bb834);
    background-image: -o-linear-gradient(top, #34d939, #2bb834);
    background-image: linear-gradient(to bottom, #34d939, #2bb834);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 10%;
}

.emailSubmit:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.badgeThumb{
cursor: pointer;
    margin-right: 5px;
}
.badgeContainer{

}
#badgeContent{
    margin-left: 25%;
    margin-top: 5%;
}
.badgeImages{
    display: inline;
}